.rootWrapper_DisplayedContent {

    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    
    .contentArea {
        
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1em;
    }
}